@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Karla', sans-serif;
}



h1 {
  color: var(--blue-2);
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 0.04em;
  margin: 6px 0px 10px 0px;
  transition: 1s;
}

h2 {
  margin: 0px 0px 0px 0px;
  color: var(--blue-4);
  font-weight: 700;
}

h3 {
  margin: 0px 0px 0px 0px;
  color: var(--blue-1);
  font-weight: 500;
}

h4 {
  margin: 0px 0px 0px 0px;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.04em;
}

p {
  font-size: 20px;
  line-height: 40px;
  color: var(--black);
  font-weight: 400;
}

:root {
  --black: rgb(26, 26, 26);
  --gray: rgb(204, 204, 204);
  --blue-1: rgba(39, 69, 247, 1);
  --blue-2: rgba(29, 51, 184, 1);
  --blue-3: rgba(17, 30, 107, 1);
  --blue-4: rgba(19, 33, 121, 1);
  --blue-5: rgba(13, 23, 82, 1);
}

/*----NAV BAR----*/
#nav-link a {
  font-weight: 400;
  transition: 0.25s;
}

#nav-link a:hover {
  color: var(--blue-2);
  font-weight: 600;
  font-size: 22px;
  transition: 0.25s;
}

.button {
  color: whitesmoke;
  background-color: var(--blue-1);
  border: 0px;
  border-radius: 30px;
  padding: 16px 20px;
  font-size: 20px;
  text-decoration: none;
  height: 100%;
  transition: 0.5s;
}

.button:hover {
  background-color: var(--blue-2);
}

@media (max-width: 900px) {

  .button {
      padding: 8px 10px;
      font-size: 14px;
      border-radius: 16px;
  }
}

/*----TEXT BOX----*/
#text-box h1:hover {
  transition: 0.5s;
  font-size: 70px;
  animation: rainbow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
      color: var(--blue-2);
  }

  25% {
      color: var(--blue-4);
  }

  50% {
      color: var(--blue-1);
  }

  100% {
      color: var(--blue-2);
  }
}

.blinking-cursor {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  p {
      font-size: 14px;
      line-height: 30px;
      color: var(--black);
      letter-spacing: 0.02em;
  }
}

/*----WORKS----*/
.p-c {
  text-align: center;
  width: 500px;
  height: 340px;
  border-radius: 20px;
}

#p01 {
  background-image: url("/gojek/gojek_work.jpg");
  background-size: cover;
  background-position: center;
}

#p02 {
  background-image: url("/todolist/todolist_work.jpg");
  background-size: cover;
  background-position: center;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  position: relative;
  border-radius: 20px;
}

.layer:hover {
  background: var(--blue-5);
}

.layer .sub-layer {  
  width: 100%;
  color: whitesmoke;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,-60%);
  opacity: 0;
  transition: 0.5s;
}

.layer:hover div {
  opacity: 1;
}

.sub-layer-text {
  font-size: 40px;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
}


@media (max-width: 768px) {
  .p-c {
      width: 366px;
      height: 240px;
      margin-bottom: 40px;
      border-radius: 20px;
  }

  .layer .sub-layer {
      opacity: 1;
      background-color: rgba(5, 10, 37, 0.8);
      width: 100%;
      padding: 14px 0px;
      transform: translateX(-50%);
      border-radius: 0px 0px 20px 20px;
  }

  .sub-layer-text {
      font-size: 24px;
      /* display: block; */
      font-weight: 500;
  }

}

/*----CONTACT----*/

.contact-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
}

.contact-link a {
  font-size: 24px;
  font-weight: 700;
  color: var(--blue-3);
  transition: 0.3s;
}

.contact-link a:hover {
  font-size: 32px;
  color: var(--blue-1);
}

.contact-detail {
  text-decoration: none;
  padding: 40px 20px;
  text-shadow: 2px 2px 4px #cecece;
}

@media (max-width: 768px) {
  #contact {
      padding: 100px 0px;
  }

  #contact h1 {
      font-size: 40px;
  }

  #contact h2 {
      font-size: 20px;
  }

  .contact-link a {
      font-size: 20px;
  }

}